@model web.Models.Commerce

@section header {
    <h1>@TextStrings.NearLocations</h1>
    <a href="#" data-icon="back" data-rel="back" data-iconpos="notext" data-direction="reverse"></a>
}

@if (Model != null)
{
<div class="commerce-details">
    <h1>@Model.Name</h1>
    <h2>@Model.Address</h2>
    <div class="map-canvas" data-map='{"commerceLocation":{"name": "@Html.EncodeDoubleQuotes(Model.Location.Name)", "lat":"@Model.Location.Latitude", "long":"@Model.Location.Longitud"}}'></div>
    <p>@Model.Description</p>

    <a href="@Url.Action("AddEvent", "Itinerary", new { id = Model.ID})" data-role="button" data-icon="plus" data-rel="dialog" data-transition="slideup">@TextStrings.AddToItinerary</a>

    <div class="commerce-reviews">
        <h1>@TextStrings.Reviews</h1>
        <p>
            <span>Sebastian - @DateTime.Now.AddDays(-2).ToShortDateString()</span>
            Genial este lugar, muy recomendable. Quiero volver!!
        </p>
        <p>
            <span>Ruben - @DateTime.Now.AddDays(-1).ToShortDateString()</span>
            Beautiful, beautiful, beautiful!
        </p>
        <p>
            <span>Leandro - @DateTime.Now.ToShortDateString()</span>
            Tengan mucho cuidado por la zona. Roban mucho.
        </p>
    </div>
</div>
}
else 
{ 
<p class="commerce-empty">
    @TextStrings.CommerceEmpty
</p>
}
