@{
    Layout = "~/Areas/Mobile/Views/Shared/_PageLayout.cshtml";
}

@section pageId {page_home}

@section content {
    <div>
        <img class="home-logo" src="@Url.Content("~/Content/themes/mobile/images/logo.png")" alt="@TextStrings.CityTour" />
    </div>
    <ul data-role="listview" data-inset="true">
        <li><a href="#page_locations">@TextStrings.NearLocations</a></li>
        <li><a href="#page_reservations">@TextStrings.MyReservations</a></li>
        <li><a href="#page_itinerary">@TextStrings.MyItinerary</a></li>
        <li><a href="#page_audio_guides">@TextStrings.AudioGuides</a></li>
    </ul>
}
