<div id="@RenderSection("pageId", false)" data-role="page">
    <div data-role="header" data-theme="b">
        @RenderSection("header", false)
	</div>
    <div data-role="content">
        @RenderSection("content", true)
	</div>
    <div data-role="footer" data-theme="b">
        @RenderSection("footer", false)
        <h4>
            Copyright &copy; @DateTime.UtcNow.Year @TextStrings.CityTour
        </h4>
    </div> 
</div>
