@section header {
    <h1>@TextStrings.NearLocations</h1>
    <a href="@Url.Action("Index", "Main")" data-icon="home" data-iconpos="notext" data-direction="reverse"></a>
    <a href="@Url.Action("Search", "Locations")" data-icon="search" data-iconpos="notext" data-rel="dialog" data-transition="pop"></a>
}

<div class="map-canvas" data-locations='{"apiurl":"@Url.Action("GetNearLocations", "JSONAPI")", "listId":"near_locations_list", "address": "@Html.AttributeEncode(ViewBag.SearchAddress)", "emptymsg":"@TextStrings.NearLocationsEmpty"}'>
    <p class="map-locating">@TextStrings.GettingLocationMessage</p>
</div>
<div id="near_locations_list"></div>
