@using Resources
@model IEnumerable<web.Models.Reservation>
<script type="text/javascript">
    function toggleReservation(reservationId) {
        var actionUrl = '@Url.Action("ToggleReservation", "Home")';

        $.ajax({
            url: actionUrl,
            type: 'POST',
            dataType: 'json',
            data: { reservationId: reservationId },
            success: function (reservation) {
                var messageSpan = $('#reservation_' + reservationId);
                if (reservation.accepted) {
                    messageSpan.html("@TextStrings.ReservationAccepted")
                    .removeClass("reservation_cancelled")
                    .addClass("reservation_accepted");
                }
                else {
                    messageSpan.html("@TextStrings.ReservationCancelled")
                    .removeClass("reservation_accepted")
                    .addClass("reservation_cancelled");
                }
            }
        })
    }
</script>
           
<div class="item_list left">
    <h2>@TextStrings.ScheduledReservations</h2>
    <div class="inner">
        <ul>
            @if (Model != null)
            {
                foreach (var reservation in Model)
                {
                <li>
                    <a href="javascript:toggleReservation('@reservation.ID')">                    
                        <span>@TextStrings.ClientName: @reservation.Person.Name</span>
                        <span>@TextStrings.Mail: @reservation.Person.EmailAddress</span>                    
                        <span>@TextStrings.Price: @reservation.Price</span>
                        <span>@TextStrings.Date: @reservation.ReservationDate.ToShortDateString()</span>
                        <span>@TextStrings.Hour: @reservation.ReservationDate.ToString("hh:mm")</span>
                        <span id=@("reservation_" + reservation.ID) class=@(reservation.Accepted ? "reservation_accepted" : "reservation_cancelled")>
                            @(reservation.Accepted ? TextStrings.ReservationAccepted : TextStrings.ReservationCancelled)
                        </span>
                    </a>                            
                </li>     
                }
            }
        </ul>
    </div>
</div>